body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4ff;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 30%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }

  button{
    background-color: #23ce6b;;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover{
    background-color: #1B9D51;
  }
  
  ul {
    list-style: none;
    padding: 0;
    border-radius: 5px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    background: #e3e3e3;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .task-item {
    cursor: pointer;
  }
  
  .edit-btn{
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .edit-btn:hover{
    background-color: #0056b3;
  } 

  .delete-btn{
    background: #dc2828;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
  }

  .delete-btn:hover{
    background-color: #b54141;
  }

  .completed{
    text-decoration: line-through;
    color: gray;
  }