body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.msg {
    font-weight: bold;
}

.messages {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.msgCtn {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.msgCtn:hover {
    background-color: #f0f0f0;
}

.msgForm {
    display: flex;
}

.input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
}

.btn {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}
